* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #41423d;
  --color-primary-100: #f13a01;
  --color-primary-200: #ce2504;
  --color-gray-100: #c9c6c5;
  --color-neutral: #dfddd0;
  --color-white: #fbfcfa;
}

body {
  background: var(--color-neutral-100);
  color: var(--color-black);
}

.app {
  width: 100%;
  min-height: 100vh;
}
